RewriteEngine On

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]

# Изключване на конкретни пътища от правилото, ако е необходимо
# Например:
# RewriteRule ^admin/assets/css - [L]
# RewriteRule ^admin/assets/js - [L]

# Пренасочване към index.php за всички останали заявки (GET, POST, PUT, DELETE)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]